@model MvcCV.Models.Entity.TblEgitim
@{
    ViewBag.Title = "EgitimDüzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>  Eğitim Güncelleme Sayfası</h4>
<br />
<form class="form-group" method="post">

    @Html.Label("Üniversite Adı")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color:red" })
    <br />


    @Html.Label("Fakülte")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    <br />

    @Html.Label("Bölüm")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />

    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color:blue" })
    <br />

    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Güncelle</button>


</form>

